@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

$rainmaker-color: #00ACF2;

.rainmaker-background-color {
    background-color: $rainmaker-color;
}

.home {
    color: red;
    background-color: green;
}

#app {
    margin: 0;
    height: 100vh;
}

body {
    height: 100%;
}

//Override element-UI CSS options
.el-collapse-item__header {
    height: 30px !important;
}

.el-radio-button--mini .el-radio-button__inner {
    padding: 2px 8px !important;
}

.el-input-number--mini {
    width: 80px !important;
}

.el-input-number--mini .el-input-number__decrease, .el-input-number--mini .el-input-number__increase {
    width: 20px !important;
}